{% extends 'base.html' %}
{% block style %}

        h3{
            text-align: center;
            color: rgb(94, 12, 119);
            font-family: 'Times New Roman', Times, serif;
            font-size: 80px;
            border-style: groove;
        }
        p{
            text-align: center;
            color: rgb(19, 213, 45);
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
            padding-top: 1px;

        }
{% endblock style %}
{% block body %}
    <h3>JK Computers</h3>
    <p>Bringing Technology Closer</p>
    <img src="https://okcredit-blog-images-prod.storage.googleapis.com/2020/12/shutterstock_1445581070.jpg" width="1450px" height="650px" alt="lapi">
    <p>Address:<br> JK Computers
Coporate office,3rd floor,
Gulshan Plaza,Above super Computer,
Rajapeth ,Amravati,Maharashtra.
</p>
{% endblock body %}